.month-picker{
 padding: 10px;
}

.month-picker{
    cursor: pointer;
}

.cell{
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.cell:hover{
    color:white;
    background-color: cornflowerblue;
}

.max-height{
    height: 100%;
}

.small{
    font-size: 10px;
    color:blue;
    font-weight: bold;
}